<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="http://192.168.1.111:6060/signup/" method="post">
    <table width="500px" heigth="300px" border="0" bordercolor="red" align="center"cellspacing="0" cellpadding="0">
        <tr>
            <td align="right" padding="0">用户名：</td>
            <td align="left" padding><input type="text" name="username" placeholder="请输入："/><br/></td>
        </tr>
        <tr>
            <td align="right" padding="0">手机号：</td>
            <td align="left" padding><input type="text" name="phone" placeholder="请输入："/><br/></td>
        </tr>
        <tr>
            <td align="right" padding="0">密码：</td>
            <td align="left" padding><input type="text" name="password" placeholder="请输入："/><br/></td>
        </tr>
        <tr>
            <td align="center" padding="0" colspan = 2><input type="submit"/></td>
        </tr>
    </table>

</form>
</body>
</html>